.nav-bar {
  width: 100%;
  background-color: var(--primary-color);
}
.nav-logo h1 {
  color: var(--white-color);
}
.search-bar {
  background-color: var(--white-color);
  border-radius: 4px;
   width: 20rem;
}
.search-input {
  background-color: transparent;
 outline: 2px solid transparent;
  outline-offset: 2px;
  width: 100%;
}
.nav-icons i {
  font-size: 1.8rem;
}
.pos-rltv {
  position: relative;
}
.login-btn {
  border-radius: 2px;
  font-size: 1rem;
}
@media screen and (max-width: 768px) {
  .search-bar {
    background-color: transparent;
    width: fit-content;
    display: none;
  }
}
